body{
    padding: 100px;
    background-color: rgba(14, 13, 13, 0.726);
    color: white;
}
.submit-area{
    margin-top: 50px; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(20, 20, 20);
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightcoral;
}
.balance{
    background-color: orangered;
}